:root {
    --darkCyan: hsl(185, 75%, 39%);
    --darkBlue: hsl(229, 23%, 23%);
    --grayishBlue: hsl(227, 10%, 46%);
    --darkGray: hsl(0, 0%, 59%);
    --blue: hsl(228, 45%, 44%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 18px;
    min-height: 100%;
    background: var(--darkCyan);
    overflow: hidden;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
    position: relative;
    top: 20em;
}

.attribution a {
    color: var(--darkBlue); 
}

.container {
    margin: 2em;
    display: flex;
    position: relative;
    justify-content: center;
    align-content: center;
}

#top {
    position: absolute;
    bottom: 46%;
    height: 51em;
    right: 50%;
}

#bottom {
    position: absolute;
    top: 46%;
    height: 31em;
    left: 50%;
}

.main-card {
    height: 390px;
    width: 339px;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
    border-top-right-radius: 32%;
    border-top-left-radius: 32%;
    position: relative;
    transform: translateY(20%);
    background: white;
}

.card-svg {
    width: 339px;
    height: 140px;
    background: url(../images/bg-pattern-card.svg) no-repeat;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    position: relative;
    bottom: 1px;
}

.photo .image-holder {
    width: 33%;
    border: 6px solid #fff;
    border-radius: 50%;
    position: relative;
    bottom: 56px;
    left: 32.5%;
}

.details {
    display: flex;
    justify-content: center;
    position: relative;
    margin-bottom: 20px;
    top: 10px;
}

 .details .name {
     position: absolute;
     bottom: 2.35em;
     right: 39%;
     font-weight: 700;
     font-size: 20px;
 }

 .details .age {
     position: absolute;
     bottom: 2.35em;
     left: 64%;
     font-weight: lighter;
     font-size: 20px;
     color: var(--grayishBlue);
 }

 .details .city {
    position: relative;
    font-weight: lighter;
    bottom: 15px;
    color: var(--darkGray);
    font-size: 16px;
}

.profile-counts {
    display: flex;
    justify-content: space-evenly;
    padding-top: 1.7em;
}

.profile-counts span {
  position: relative;
  letter-spacing: 2px;
  font-size: 12px;
  color: var(--grayishBlue);
}

#followers {
    right: 10%;
}

#likes {
    left: 17%;
}

#photos {
    left: 5%;
}

.likes {
    position: relative;
    right: 10px;
}


/* For desktops */
@media screen and (min-width: 768px) {
    #bottom {
        position: absolute;
        top: 50%;
        height: 60em;
        left: 45%;
    }

    .attribution { 
        font-size: 11px; 
        text-align: center; 
        position: relative;
        top: 20em;
    }
}
